:where([class^="byb-"], [class*=" byb-"]),
:where([class^="byb-"], [class*=" byb-"]) *,
:where([class^="byb-"], [class*=" byb-"])::before,
:where([class^="byb-"], [class*=" byb-"])::after,
:where([class^="byb-"], [class*=" byb-"]) *::before,
:where([class^="byb-"], [class*=" byb-"]) *::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

:where([class^="byb-"], [class*=" byb-"])::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

:where([class^="byb-"], [class*=" byb-"]),
  :where([class^="byb-"], [class*=" byb-"])::before,
  :where([class^="byb-"], [class*=" byb-"])::after,
  :where([class^="byb-"], [class*=" byb-"]) * ,
  :where([class^="byb-"], [class*=" byb-"]) *::before,
  :where([class^="byb-"], [class*=" byb-"]) *::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(229 231 235);
}

:where([class^="byb-"], [class*=" byb-"]) {
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

:where([class^="byb-"], [class*=" byb-"]) button,
  :where([class^="byb-"], [class*=" byb-"]) input,
  :where([class^="byb-"], [class*=" byb-"]) optgroup,
  :where([class^="byb-"], [class*=" byb-"]) select,
  :where([class^="byb-"], [class*=" byb-"]) textarea {
  font: inherit;
  color: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

/* Any custom byb- namespaced CSS overrides can go here */

.byb-fixed {
  position: fixed;
}

.byb-absolute {
  position: absolute;
}

.byb-relative {
  position: relative;
}

.byb-sticky {
  position: sticky;
}

.byb-inset-0 {
  inset: 0px;
}

.byb-bottom-3 {
  bottom: 0.75rem;
}

.byb-left-1\/2 {
  left: 50%;
}

.byb-left-2\.5 {
  left: 0.625rem;
}

.byb-right-3 {
  right: 0.75rem;
}

.byb-top-0 {
  top: 0px;
}

.byb-top-2\.5 {
  top: 0.625rem;
}

.byb-top-4 {
  top: 1rem;
}

.byb-z-10 {
  z-index: 10;
}

.byb-z-\[10000\] {
  z-index: 10000;
}

.byb-z-\[11000\] {
  z-index: 11000;
}

.byb-z-\[9999\] {
  z-index: 9999;
}

.byb-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.byb-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.byb-mb-1 {
  margin-bottom: 0.25rem;
}

.byb-mb-2 {
  margin-bottom: 0.5rem;
}

.byb-mb-4 {
  margin-bottom: 1rem;
}

.byb-mt-2 {
  margin-top: 0.5rem;
}

.byb-mt-6 {
  margin-top: 1.5rem;
}

.byb-line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.byb-line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.byb-flex {
  display: flex;
}

.byb-h-12 {
  height: 3rem;
}

.byb-h-24 {
  height: 6rem;
}

.byb-h-3 {
  height: 0.75rem;
}

.byb-h-3\.5 {
  height: 0.875rem;
}

.byb-h-4 {
  height: 1rem;
}

.byb-h-5 {
  height: 1.25rem;
}

.byb-h-6 {
  height: 1.5rem;
}

.byb-h-8 {
  height: 2rem;
}

.byb-max-h-96 {
  max-height: 24rem;
}

.byb-w-12 {
  width: 3rem;
}

.byb-w-3 {
  width: 0.75rem;
}

.byb-w-3\.5 {
  width: 0.875rem;
}

.byb-w-4 {
  width: 1rem;
}

.byb-w-5 {
  width: 1.25rem;
}

.byb-w-6 {
  width: 1.5rem;
}

.byb-w-8 {
  width: 2rem;
}

.byb-w-full {
  width: 100%;
}

.byb-max-w-\[200px\] {
  max-width: 200px;
}

.byb-max-w-md {
  max-width: 28rem;
}

.byb-max-w-sm {
  max-width: 24rem;
}

.byb-flex-1 {
  flex: 1 1 0%;
}

.byb-flex-shrink-0 {
  flex-shrink: 0;
}

.byb-shrink-0 {
  flex-shrink: 0;
}

.-byb-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-byb-translate-y-full {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.byb-translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.byb-scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.byb-scale-95 {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.byb-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.byb-cursor-pointer {
  cursor: pointer;
}

.byb-flex-col {
  flex-direction: column;
}

.byb-items-center {
  align-items: center;
}

.byb-justify-end {
  justify-content: flex-end;
}

.byb-justify-center {
  justify-content: center;
}

.byb-justify-between {
  justify-content: space-between;
}

.byb-gap-0\.5 {
  gap: 0.125rem;
}

.byb-gap-1 {
  gap: 0.25rem;
}

.byb-gap-1\.5 {
  gap: 0.375rem;
}

.byb-gap-2 {
  gap: 0.5rem;
}

.byb-gap-3 {
  gap: 0.75rem;
}

.byb-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.byb-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.byb-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.byb-overflow-hidden {
  overflow: hidden;
}

.byb-overflow-y-auto {
  overflow-y: auto;
}

.byb-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.byb-rounded {
  border-radius: 0.25rem;
}

.byb-rounded-2xl {
  border-radius: 1rem;
}

.byb-rounded-full {
  border-radius: 9999px;
}

.byb-rounded-lg {
  border-radius: 0.5rem;
}

.byb-rounded-xl {
  border-radius: 0.75rem;
}

.byb-rounded-b-2xl {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.byb-border {
  border-width: 1px;
}

.byb-border-b {
  border-bottom-width: 1px;
}

.byb-border-t {
  border-top-width: 1px;
}

.byb-border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity, 1));
}

.byb-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.byb-border-gray-50 {
  --tw-border-opacity: 1;
  border-color: rgb(249 250 251 / var(--tw-border-opacity, 1));
}

.byb-border-pink-100 {
  --tw-border-opacity: 1;
  border-color: rgb(252 231 243 / var(--tw-border-opacity, 1));
}

.byb-border-pink-200 {
  --tw-border-opacity: 1;
  border-color: rgb(251 207 232 / var(--tw-border-opacity, 1));
}

.byb-border-pink-400 {
  --tw-border-opacity: 1;
  border-color: rgb(244 114 182 / var(--tw-border-opacity, 1));
}

.byb-border-transparent {
  border-color: transparent;
}

.byb-bg-amber-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 158 11 / var(--tw-bg-opacity, 1));
}

.byb-bg-black\/50 {
  background-color: rgb(0 0 0 / 0.5);
}

.byb-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.byb-bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.byb-bg-gray-50\/50 {
  background-color: rgb(249 250 251 / 0.5);
}

.byb-bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.byb-bg-pink-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(252 231 243 / var(--tw-bg-opacity, 1));
}

.byb-bg-pink-50\/50 {
  background-color: rgb(253 242 248 / 0.5);
}

.byb-bg-pink-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 72 153 / var(--tw-bg-opacity, 1));
}

.byb-bg-pink-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity, 1));
}

.byb-bg-red-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity, 1));
}

.byb-bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1));
}

.byb-bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.byb-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.byb-bg-white\/20 {
  background-color: rgb(255 255 255 / 0.2);
}

.byb-p-0 {
  padding: 0px;
}

.byb-p-1 {
  padding: 0.25rem;
}

.byb-p-1\.5 {
  padding: 0.375rem;
}

.byb-p-2 {
  padding: 0.5rem;
}

.byb-p-2\.5 {
  padding: 0.625rem;
}

.byb-p-3 {
  padding: 0.75rem;
}

.byb-p-4 {
  padding: 1rem;
}

.byb-p-6 {
  padding: 1.5rem;
}

.byb-px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.byb-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.byb-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.byb-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.byb-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.byb-py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.byb-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.byb-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.byb-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.byb-py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.byb-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.byb-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.byb-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.byb-pb-2 {
  padding-bottom: 0.5rem;
}

.byb-pb-8 {
  padding-bottom: 2rem;
}

.byb-pl-8 {
  padding-left: 2rem;
}

.byb-pr-12 {
  padding-right: 3rem;
}

.byb-pr-2 {
  padding-right: 0.5rem;
}

.byb-pr-3 {
  padding-right: 0.75rem;
}

.byb-text-center {
  text-align: center;
}

.byb-font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.byb-text-\[10px\] {
  font-size: 10px;
}

.byb-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.byb-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.byb-text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.byb-font-bold {
  font-weight: 700;
}

.byb-font-medium {
  font-weight: 500;
}

.byb-font-semibold {
  font-weight: 600;
}

.byb-uppercase {
  text-transform: uppercase;
}

.byb-capitalize {
  text-transform: capitalize;
}

.byb-leading-none {
  line-height: 1;
}

.byb-leading-relaxed {
  line-height: 1.625;
}

.byb-tracking-tight {
  letter-spacing: -0.025em;
}

.byb-tracking-wider {
  letter-spacing: 0.05em;
}

.byb-text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.byb-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.byb-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.byb-text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1));
}

.byb-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity, 1));
}

.byb-text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.byb-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.byb-text-pink-400 {
  --tw-text-opacity: 1;
  color: rgb(244 114 182 / var(--tw-text-opacity, 1));
}

.byb-text-pink-500 {
  --tw-text-opacity: 1;
  color: rgb(236 72 153 / var(--tw-text-opacity, 1));
}

.byb-text-pink-600 {
  --tw-text-opacity: 1;
  color: rgb(219 39 119 / var(--tw-text-opacity, 1));
}

.byb-text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.byb-text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1));
}

.byb-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.byb-placeholder-gray-400::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
}

.byb-placeholder-gray-400::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgb(156 163 175 / var(--tw-placeholder-opacity, 1));
}

.byb-opacity-0 {
  opacity: 0;
}

.byb-opacity-100 {
  opacity: 1;
}

.byb-shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.byb-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.byb-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.byb-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.byb-shadow-pink-500\/30 {
  --tw-shadow-color: rgb(236 72 153 / 0.3);
  --tw-shadow: var(--tw-shadow-colored);
}

.byb-shadow-red-500\/30 {
  --tw-shadow-color: rgb(239 68 68 / 0.3);
  --tw-shadow: var(--tw-shadow-colored);
}

.byb-backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.byb-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.byb-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.byb-transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.byb-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.byb-transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.byb-duration-200 {
  transition-duration: 200ms;
}

.byb-duration-300 {
  transition-duration: 300ms;
}

.hover\:byb-scale-105:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:byb-border-pink-100:hover {
  --tw-border-opacity: 1;
  border-color: rgb(252 231 243 / var(--tw-border-opacity, 1));
}

.hover\:byb-border-pink-200:hover {
  --tw-border-opacity: 1;
  border-color: rgb(251 207 232 / var(--tw-border-opacity, 1));
}

.hover\:byb-bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.hover\:byb-bg-pink-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(252 231 243 / var(--tw-bg-opacity, 1));
}

.hover\:byb-bg-pink-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(251 207 232 / var(--tw-bg-opacity, 1));
}

.hover\:byb-bg-pink-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(253 242 248 / var(--tw-bg-opacity, 1));
}

.hover\:byb-bg-pink-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity, 1));
}

.hover\:byb-bg-red-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(254 226 226 / var(--tw-bg-opacity, 1));
}

.hover\:byb-bg-red-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.hover\:byb-text-gray-900:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.hover\:byb-text-pink-500:hover {
  --tw-text-opacity: 1;
  color: rgb(236 72 153 / var(--tw-text-opacity, 1));
}

.hover\:byb-text-red-500:hover {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1));
}

.hover\:byb-shadow-pink-500\/50:hover {
  --tw-shadow-color: rgb(236 72 153 / 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}

.focus\:byb-border-pink-200:focus {
  --tw-border-opacity: 1;
  border-color: rgb(251 207 232 / var(--tw-border-opacity, 1));
}

.focus\:byb-bg-white:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.focus\:byb-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.focus\:byb-ring-1:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:byb-ring-pink-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(236 72 153 / var(--tw-ring-opacity, 1));
}

.focus\:byb-ring-white:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity, 1));
}

.active\:byb-scale-95:active {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.byb-group:hover .group-hover\:byb-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1));
}

.byb-group:hover .group-hover\:byb-opacity-100 {
  opacity: 1;
}
